<div class="panel-group" id="accordionItemEpigraph<%= epigraph.id %>" role="tablist" aria-multiselectable="true">
  <% items.each do |item| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingItem">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionItemEpigraph<%= epigraph.id %>" href="#collapseItem<%= item.id %>" aria-expanded="false" aria-controls="collapseItem<%= item.id %>">
            <%= item.item_id %>
          </a>
        </h4>
      </div>
      <div id="collapseItem<%= item.id %>" class="panel-collapse collapse collapse-item" role="tabpanel" aria-labelledby="headingItem">
        <div class="panel-body">
          <h5><%= item.title %><small> | <%= link_to 'PDF', item.pdf_url, target: "_blank", class: 'btn-success btn' %></small></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
